.search-bar{
   height: 8em;
   overflow: hidden;
   width: 85%;
   @include flexContent(center, center, row);
   border-radius: 2.5em;
   margin-bottom: 2rem;
}
.search-bar-input{
   height: 100%;
   flex-grow: 1;
   border: none;
   cursor: pointer;
   padding: 1em .5em 1em 1em;
}

.button{
   border: none;
   background: none;
   background-color: $main-color;
   height: 100%;
   padding: 2em 1.5em 2em 1.5em;
   cursor: pointer;
   @include flexContent(center, center, row);
   &:hover{
      background-color: $title-info-color;
   }
   img{
      width: 100%;
   }
}
@media screen and (min-width: 600px) {
   .search-bar{
      width: 60%;
   }
}
@media screen and (min-width: 1200px) {
   .search-bar{
      height: 9em;
      width: 35%;
      margin-bottom: 7em;
      max-width: 70rem;
   }
   .button{
      padding: 2em;
   }
}
