.search-bar{
   height: 3.5em;
   overflow: hidden;
   width: 85%;
   @include flexContent(center, center, row);
   border-radius: 1em;
}
.search-bar-input{
   height: 100%;
   flex-grow: 1;
   border: none;
   cursor: pointer;
   padding: 1em .5em 1em 1em;
}

.button{
   border: none;
   background: none;
   background-color: $main-color;
   height: 100%;
   padding: 2em 1.5em 2em 1.5em;
   cursor: pointer;
   @include flexContent(center, center, row);
   &:hover{
      background-color: $title-info-color;
   }
   img{
      width: 100%;
   }
}

@media screen and (min-width: 900px) {
   
   .search-bar{
      width: 40%;
      height: 3.7vw;
      border-radius: 1vw;
   }
   .button{
      padding: 2vw 1.5vw 2vw 1.5vw;
      img{
         width: 1vw;
      }
   }
}